@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #ffe6ef,
        #f5f3ff,
        #e6fff9
    );

    min-height:100vh;
    padding:40px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.hero{
    background:white;
    padding:40px;
    border-radius:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.hero h1{
    font-size:3rem;
    color:#372549;
}

.subtitle{
    color:#666;
    margin-top:10px;
}

.hello{
    background:#ffe9b8;
    padding:8px 16px;
    border-radius:20px;
    font-size:.8rem;
}

.socials{
    display:flex;
    gap:15px;
}

.socials button{
    width:55px;
    height:55px;
    border:none;
    border-radius:15px;
    cursor:pointer;
    font-size:1.2rem;
    background:#f4eaff;
    transition:.3s;
}

.socials button:hover{
    transform:translateY(-5px);
}

.badges{
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.badges span{
    background:#eef5ff;
    padding:10px 16px;
    border-radius:20px;
}

.card{
    background:white;
    border-radius:25px;
    padding:25px;
    margin-top:25px;
    box-shadow:0 10px 20px rgba(0,0,0,.05);
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

h2{
    color:#372549;
    margin-bottom:20px;
}

.tags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.tags span{
    background:#f2f4ff;
    padding:10px 16px;
    border-radius:20px;
}

ul{
    padding-left:20px;
}

li{
    margin-bottom:10px;
}

.edu-box,
.reference,
.job,
.project{
    background:#fafafa;
    padding:15px;
    border-radius:15px;
    margin-top:15px;
}

.project-btn{
    margin-top:10px;
    padding:10px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#a855f7;
    color:white;
}

.project-btn:hover{
    opacity:.9;
}

@media(max-width:900px){

    .hero{
        flex-direction:column;
        text-align:center;
        gap:20px;
    }

    .grid{
        grid-template-columns:1fr;
    }
}
